<html>
	<head>
		<title>HWLender Machines</title>
<style type=text/css>
{% include "style.css" %}
</style>
	</head>
	<body>
		<table class="blueTable">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Hostname
					</th>
					<th>
						MAC
					</th>
					<th>
						IP
					</th>
					<th>
						IPMI Address
					</th>
					<th>
						Boot Payload
					</th>
					<th>
						Boot!
					</th>
				</tr>
			</thead>
			{%- for (name, machine) in machines %}
			<tr>
				<td>
					{{ name }}
				</td>

				<td>
				{%- match machine.hostname %}
				{%- when Some with (hostname) %}
					{{ hostname }}
				{%- when None %}
				{%- endmatch %}
				</td>

				<td>
					{{ machine.mac }}
				</td>

				<td>
				{%- match machine.ip %}
				{%- when Some with (ip) %}
					{{ ip }}
				{%- when None %}
				{%- endmatch %}
				</td>

				<td>
				{%- match machine.ipmi %}
				{%- when Some with (ipmi) %}
					{{ ipmi.address }}
				{%- when None %}
				{%- endmatch %}
				</td>
				<td>
					<select name="payload" id="payload" form="bootform_{{ name }}">
						{%- for (payload, _) in payloads %}
						<option value="{{ payload }}">{{ payload }}</option>
						{%- endfor %}
					</select>
				</td>
				<td>
					<form method="post" action="/boot/{{ name }}" id="bootform_{{ name }}">
						<input type="submit" value="Boot!">
					</form>
				</td>
			</tr>
			{%- endfor %}
		</table>
	</body>
</html>
